cache_expiration=-1
require_signed_keys=true
certificate_exchange_enabled=false
certificate_exchange_keystore=clientkeystore.p12

key_path=keys/
kdi_key_stores_path=keys/
persistence_path=keys/
trust_store=truststore.p12

key_store_password=asdqwe
public_key_lookup_enabled=true

public_key_lookup_url=https://dev.kds.hykr.io:8443

trust_store_password=asdqwe
signing_key_alias=client
public_api_key=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
private_api_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
key_dist_credentials=UNTRUSTED_API_KEY
backend_IP=dev.msg.hykr.io
backend_port=1443
default_key_validity=8
automatic_rekeying=true

automatic_query_enabled=true
automatic_query_timeout=5000
persistence_password=asdqwe
nonce_validator_window_size=1000
key_relay_enabled=false
